/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
.cpcache
.idea
projectFilesBackup/.idea/workspace.xml
/james-out.json
/data
/texts
resources/diglot-html/Jamesfrommodified.htm
resources/md/JamesMod.md
data/
.idea/workspace.xml
James.in.md
James.html
James.docx
James.doc
James.boeng.out.md
James.boeng-cols.out.md
James.bo.out.md
James-boeng.html
James-boeng-cols.html
James-bo.html
~WRL2001.tmp
~$James.doc
.nrepl-port
workspace.xml
/.cpcache
/.idea
/data
/texts

/split-text.iml
