/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
.cpcache/1ADF4D5B764409524D257533F1F0FBFC.cp
.cpcache/1ADF4D5B764409524D257533F1F0FBFC.libs
.idea/.gitignore
.idea/clojure-deps.xml
.idea/ClojureProjectResolveSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/libraries/Deps__args4j_2_0_26.xml
.idea/libraries/Deps__clj_http_3_10_1.xml
.idea/libraries/Deps__clj_tuple_0_2_2.xml
.idea/libraries/Deps__com_github_jnr_jffi_1_2_23.xml
.idea/libraries/Deps__com_github_jnr_jffi_native_1_2_23.xml
.idea/libraries/Deps__com_github_jnr_jnr_a64asm_1_0_0.xml
.idea/libraries/Deps__com_github_jnr_jnr_constants_0_9_12.xml
.idea/libraries/Deps__com_github_jnr_jnr_ffi_2_1_12.xml
.idea/libraries/Deps__com_github_jnr_jnr_x86asm_1_0_2.xml
.idea/libraries/Deps__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Deps__com_google_code_gson_gson_2_2_4.xml
.idea/libraries/Deps__com_google_guava_guava_19_0.xml
.idea/libraries/Deps__com_google_javascript_closure_compiler_externs_v20160911.xml
.idea/libraries/Deps__com_google_javascript_closure_compiler_unshaded_v20160911.xml
.idea/libraries/Deps__com_google_jsinterop_jsinterop_annotations_1_0_0.xml
.idea/libraries/Deps__com_google_protobuf_protobuf_java_2_5_0.xml
.idea/libraries/Deps__com_rpl_specter_1_1_3.xml
.idea/libraries/Deps__com_stuartsierra_dependency_0_2_0.xml
.idea/libraries/Deps__com_taoensso_encore_2_114_0.xml
.idea/libraries/Deps__com_taoensso_nippy_2_14_0.xml
.idea/libraries/Deps__com_taoensso_truss_1_5_0.xml
.idea/libraries/Deps__commons_codec_1_12.xml
.idea/libraries/Deps__commons_io_2_6.xml
.idea/libraries/Deps__commons_logging_1_2.xml
.idea/libraries/Deps__hickory_0_7_1.xml
.idea/libraries/Deps__juxt_crux_core_20_05_1_8_3_alpha.xml
.idea/libraries/Deps__juxt_crux_lmdb_20_05_1_8_3_alpha.xml
.idea/libraries/Deps__juxt_crux_rocksdb_20_05_1_8_3_alpha.xml
.idea/libraries/Deps__lambdaisland_uri_1_3_45.xml
.idea/libraries/Deps__net_jpountz_lz4_lz4_1_3.xml
.idea/libraries/Deps__org_agrona_agrona_1_0_7.xml
.idea/libraries/Deps__org_apache_httpcomponents_httpasyncclient_4_1_4.xml
.idea/libraries/Deps__org_apache_httpcomponents_httpclient_4_5_10.xml
.idea/libraries/Deps__org_apache_httpcomponents_httpclient_cache_4_5_10.xml
.idea/libraries/Deps__org_apache_httpcomponents_httpcore_4_4_12.xml
.idea/libraries/Deps__org_apache_httpcomponents_httpcore_nio_4_4_10.xml
.idea/libraries/Deps__org_apache_httpcomponents_httpmime_4_5_10.xml
.idea/libraries/Deps__org_clojure_clojure_1_10_1.xml
.idea/libraries/Deps__org_clojure_clojurescript_1_9_293.xml
.idea/libraries/Deps__org_clojure_core_specs_alpha_0_2_44.xml
.idea/libraries/Deps__org_clojure_data_json_1_0_0.xml
.idea/libraries/Deps__org_clojure_google_closure_library_0_0_20160609_f42b4a24.xml
.idea/libraries/Deps__org_clojure_google_closure_library_third_party_0_0_20160609_f42b4a24.xml
.idea/libraries/Deps__org_clojure_spec_alpha_0_2_176.xml
.idea/libraries/Deps__org_clojure_tools_logging_1_0_0.xml
.idea/libraries/Deps__org_clojure_tools_reader_1_3_2.xml
.idea/libraries/Deps__org_iq80_snappy_snappy_0_4.xml
.idea/libraries/Deps__org_jsoup_jsoup_1_9_2.xml
.idea/libraries/Deps__org_lmdbjava_lmdbjava_0_7_0.xml
.idea/libraries/Deps__org_lwjgl_lwjgl_3_2_3.xml
.idea/libraries/Deps__org_lwjgl_lwjgl_lmdb_3_2_3.xml
.idea/libraries/Deps__org_lwjgl_lwjgl_lmdb_natives_linux_3_2_3.xml
.idea/libraries/Deps__org_lwjgl_lwjgl_lmdb_natives_macos_3_2_3.xml
.idea/libraries/Deps__org_lwjgl_lwjgl_natives_linux_3_2_3.xml
.idea/libraries/Deps__org_lwjgl_lwjgl_natives_macos_3_2_3.xml
.idea/libraries/Deps__org_mozilla_rhino_1_7R5.xml
.idea/libraries/Deps__org_ow2_asm_asm_7_1.xml
.idea/libraries/Deps__org_ow2_asm_asm_analysis_7_1.xml
.idea/libraries/Deps__org_ow2_asm_asm_commons_7_1.xml
.idea/libraries/Deps__org_ow2_asm_asm_tree_7_1.xml
.idea/libraries/Deps__org_ow2_asm_asm_util_7_1.xml
.idea/libraries/Deps__org_rocksdb_rocksdbjni_6_5_3.xml
.idea/libraries/Deps__org_slf4j_slf4j_api_1_7_29.xml
.idea/libraries/Deps__org_tukaani_xz_1_6.xml
.idea/libraries/Deps__potemkin_0_4_5.xml
.idea/libraries/Deps__quoin_0_1_2.xml
.idea/libraries/Deps__riddley_0_1_12.xml
.idea/libraries/Deps__slingshot_0_12_2.xml
.idea/libraries/Deps__viebel_codox_klipse_theme_0_0_1.xml
projectFilesBackup/.idea/workspace.xml
/james-out.json
/data/000006.log
/data/000007.sst
/texts/db/000007.sst
/texts/db/000011.log
/data/CURRENT
/texts/db/CURRENT
/data/IDENTITY
/texts/db/IDENTITY
/data/LOCK
/texts/db/LOCK
/data/LOG
/texts/db/LOG
/texts/db/LOG.old.1589662715597065
/texts/db/LOG.old.1589662775020303
/texts/db/LOG.old.1589662954754693
/data/MANIFEST-000008
/texts/db/MANIFEST-000010
/data/OPTIONS-000005
/texts/db/OPTIONS-000005
/texts/db/OPTIONS-000013
resources/diglot-html/Jamesfrommodified.htm
resources/md/JamesMod.md
.idea/libraries/Deps__org_clojure_tools_reader_1_0_0_beta3.xml
.idea/libraries/Deps__org_clojure_tools_cli_1_0_194.xml
.idea/libraries/Deps__hiccup_2_0_0_alpha2.xml
.idea/workspace.xml
James.in.md
James.html
James.docx
James.doc
James.boeng.out.md
James.boeng-cols.out.md
James.bo.out.md
James-boeng.html
James-boeng-cols.html
James-bo.html
~WRL2001.tmp
~$James.doc
.nrepl-port
workspace.xml
/.idea/workspace.xml
/.idea
/texts
/.cpcache
