<style>

body {
    margin-left: 5%;
    margin-right: 5%;
}

@media only screen and (orientation: landscape) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
}

.h1-english {
     font-size: x-large;
     font-weight: bold;
     text-align: center;
     display: block;
}
.h1-bo  {
     font-size: xx-large;
     font-weight: bold;
     text-align: center;
     /*display: block;*/
}
 .h2-english {
     font-size: x-large;
     font-weight: bold;
     text-align: center;
     /*display: block;*/
 }
 .h2-bo {
     font-size: xx-large;
     font-weight: bold;
     text-align: center;
 }
 .h3-english {
     font-size: large;
     font-weight: bold;
 }
.h3-bo {
     font-size: 2em;
     font-weight: bold;
     /*display: block;*/
}


.vn {
    font-size: small;
}
.v-bo {
    font-size: 18pt;
}
.v-english {
    font-size: 12pt;
}
.v-back {
    font-size: 12pt;
    color: rebeccapurple;
}
.u-bo {
    color: purple;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}
.subtitle {
    font-size: large;
    font-weight: bold;
}

.first-page {
    text-align: center;
}
.permission {
    font-size: large;
    color: red;
}

.copyright {
    font-size: large;
}
.logo {
    text-align: center;
}
.center-logo {
    text-align: center;
}
h1 {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;

}



h2 {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    margin-bottom:  0;
    margin-top:  0;

}
h3 {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom:  0;
    margin-top:  0;
}
p {
    font-size: 15pt;
}
span.underline {
    color: blue;
    text-decoration: none;
}
span.bo-brackets {
    font-size: 12pt;
}
.footer {
    align-content: center;
}
.row {
    height: 30px;
}

/*.p-bo {*/
/*    width: 50%;*/
/*    overflow: hidden;*/
/*}*/

/*.p-english {*/
/*    padding-left: 60%;*/
/*    width: 50%;*/

/*}*/
.verse {
    overflow: auto;
    /*border: 3px solid #4CAF50;*/
    padding: 0px;
}

.verse .p-bo {
    width: 48%;

    /*border: 3px solid #00AF50;*/
    padding: 0px;
}
.verse .p-english {
    width: 48%;
    float: right;
    /*border: 3px solid #1FAF50;*/
    padding: 0px;
}

.verse .h2-bo {
    width: 48%;

    /*border: 3px solid red;*/
    padding: 0px;
}
.verse .h2-english {
    width: 48%;
    float: right;
    /*border: 3px solid darkred;*/
    padding: 0px;
}

.verse .h3-bo {
    width: 48%;

    /*border: 3px solid gold;*/
    padding: 0px;
}
.verse .h3-english {
    width: 48%;
    float: right;
    /*border: 3px solid yellow;*/
    padding: 0px;
}

</style>