body {
    margin-left: 5%;
    margin-right: 5%;
    }

    @media only screen and (orientation: landscape) {
        body {
            margin-left: 20%;
            margin-right: 20%;
        }
    }

    .cite-eng {
         font-size: x-large;
         font-weight: bold;
         text-align: center;
         display: block;
    }
    .cite-bo  {
         font-size: xx-large;
         font-weight: bold;
         text-align: center;
         display: block;
    }
     .h1-eng {
         font-size: x-large;
         font-weight: bold;
         text-align: center;
         display: block;
     }
     .h1-bo {
         font-size: xx-large;
         font-weight: bold;
         text-align: center;
     }
     .h2-eng {
         font-size: large;
         font-weight: bold;
     }
     .h2-bo {
         font-size: x-large;
         font-weight: bold;
         display: block;
     }
     .vn {
         font-size: small;
         display: block;
     }
     .v-bo {
         font-size: large;
     }
     .u-bo {
         color: purple;
     }

     .title {
         font-size: xx-large;
         font-weight: bold;
     }
     .subtitle {
         font-size: large;
         font-weight: bold;
     }

     .first-page {
         text-align: center;
     }
     .permission {
         font-size: large;
         color: red;
     }

     .copyright {
         font-size: large;
     }
     .logo {
         text-align: left;
     }
     .center-logo {
        text-align: center;
    }
